---
import { Image } from 'astro:assets';
import fondoPapel from '../assets/fondo-papel.jpg';
import florIzquierda from '../assets/flor-tulipan.png';
import florDerecha from '../assets/flor-tulipan.png';
import fotoNosotros from '../assets/fondo-nosotros.jpg'
import fotoNosotros2 from '../assets/fondo-nosotros-2.jpg';

const fechaBoda = "2026-09-12T17:00:00";
---

<div id="rsvp-and-us-block" class="relative w-full overflow-hidden bg-[#f4f1ea]">

    <Image
            src={fondoPapel}
            alt=""
            class="absolute inset-0 w-full h-full object-cover z-0 opacity-60 pointer-events-none"
    />

    <div class="absolute z-30 pointer-events-none
                    -left-12 -top-15 md:top-60 scale-[0.5] md:scale-80 lg:scale-100 md:left-[-1] lg:top-70 md:-translate-y-1/2 rotate-15">
        <Image src={florIzquierda} alt="" class="w-auto h-[350px] md:h-[500px] object-contain scale-x-[-1]" />
    </div>

    <div class="absolute z-30 pointer-events-none
                    -right-15 top-26 scale-[0.8] md:scale-100 lg:scale-130 md:-right-20 lg:-right-15 md:top-105 lg:top-115 md:-translate-y-1/2 -rotate-25">
        <Image src={florDerecha} alt="" class="w-auto h-[350px] md:h-[500px] object-contain" />
    </div>

    <div class="relative z-30 w-full flex flex-col items-center py-16 md:py-24 px-4 text-center text-stone-800">
        <main class="w-full max-w-4xl mx-auto px-2">
            <h2 class="font-wedding text-2xl md:text-3xl uppercase tracking-[0.2em] mb-12 text-[#2c2616]">
                Solo faltan
            </h2>

            <div class="flex justify-center items-start gap-1 md:gap-4 font-body">
                <div class="flex flex-col items-center min-w-[70px] md:min-w-[120px]">
                    <div class="flex" id="container-days">
                        <div class="number-wrapper"><span class="digit text-5xl md:text-8xl font-light">0</span></div>
                        <div class="number-wrapper"><span class="digit text-5xl md:text-8xl font-light">0</span></div>
                        <div class="number-wrapper"><span class="digit text-5xl md:text-8xl font-light">0</span></div>
                    </div>
                    <span class="text-[10px] md:text-sm uppercase tracking-[0.2em] mt-4 text-stone-500">Días</span>
                </div>

                <span class="text-3xl md:text-6xl font-light leading-none pt-2 md:pt-4 text-stone-400">:</span>

                <div class="flex flex-col items-center min-w-[70px] md:min-w-[120px]">
                    <div class="flex" id="container-hours">
                        <div class="number-wrapper"><span class="digit text-5xl md:text-8xl font-light">0</span></div>
                        <div class="number-wrapper"><span class="digit text-5xl md:text-8xl font-light">0</span></div>
                    </div>
                    <span class="text-[10px] md:text-sm uppercase tracking-[0.2em] mt-4 text-stone-500">Horas</span>
                </div>

                <span class="text-3xl md:text-6xl font-light leading-none pt-2 md:pt-4 text-stone-400">:</span>

                <div class="flex flex-col items-center min-w-[70px] md:min-w-[120px]">
                    <div class="flex" id="container-minutes">
                        <div class="number-wrapper"><span class="digit text-5xl md:text-8xl font-light">0</span></div>
                        <div class="number-wrapper"><span class="digit text-5xl md:text-8xl font-light">0</span></div>
                    </div>
                    <span class="text-[10px] md:text-sm uppercase tracking-[0.2em] mt-4 text-stone-500">Minutos</span>
                </div>

                <span class="text-3xl md:text-6xl font-light leading-none pt-2 md:pt-4 text-stone-400">:</span>

                <div class="flex flex-col items-center min-w-[70px] md:min-w-[120px]">
                    <div class="flex" id="container-seconds">
                        <div class="number-wrapper"><span class="digit text-5xl md:text-8xl font-light">0</span></div>
                        <div class="number-wrapper"><span class="digit text-5xl md:text-8xl font-light">0</span></div>
                    </div>
                    <span class="text-[10px] md:text-sm uppercase tracking-[0.2em] mt-4 text-stone-500">Segundos</span>
                </div>
            </div>
        </main>
    </div>

    <section class="relative z-20 flex flex-col md:flex-row w-full h-auto md:h-[70vh] min-h-[500px] md:max-h-[800px] overflow-hidden">

        <div class="w-full md:w-2/5 h-[450px] md:h-full">
            <Image
                    src={fotoNosotros}
                    alt="Jorge y Emma"
                    class="w-full h-full object-cover object-[50%_65%]"
            />
        </div>

        <div class="w-full md:w-3/5 bg-[#f2e1cd] flex flex-col items-center justify-center p-12 md:p-20 text-center">
            <h3 class="font-wedding text-4xl md:text-[42px] lg:text-6xl uppercase tracking-[0.4em] text-[#2c2616] mb-10 leading-none">
                Nosotros
            </h3>

            <div class="space-y-6 font-body text-[#2c2616] text-base md:text-3xl tracking-[0.2em] uppercase leading-loose">
                <p class="border-b border-[#2c2616]/10 pb-4">Jorge Antonio Aqué González</p>
                <p>Emma Rosa Chio Durán</p>
            </div>
        </div>
    </section>

    <section class="relative z-20 flex flex-col-reverse md:flex-row w-full h-auto md:h-[70vh] min-h-[500px] md:max-h-[800px] overflow-hidden">

        <div class="w-full md:w-3/5 bg-[#f2e1cd] flex flex-col items-center justify-center p-12 md:p-20 text-center">
            <h3 class="font-wedding text-4xl md:text-[42px] lg:text-6xl uppercase tracking-[0.4em] text-[#2c2616] mb-10 leading-none">
                Nuestros padres
            </h3>

            <div class="space-y-6 font-body text-[#2c2616] tracking-[0.2em] leading-loose">
                <div class="space-y-3">
                    <p class="uppercase text-base md:text-2xl lg:text-3xl">José Manuel Aqué Aguilera</p>
                    <p class="uppercase text-base md:text-2xl lg:text-3xl">Zulma González Barrios</p>
                    <p class="mt-5 text-base md:text-xl">Padres del novio</p>
                </div>

                <div class="h-[1px] w-30 bg-[#2c2616]/10 mx-auto my-4"></div>

                <div class="space-y-3">
                    <p class="uppercase text-base md:text-2xl lg:text-3xl">José Ramón Chio Sánchez</p>
                    <p class="uppercase text-base md:text-2xl lg:text-3xl">Rosa del Carmen Durán Ruiz</p>
                    <p class="mt-5 text-base md:text-xl">Padres de la novia</p>
                </div>

            </div>
        </div>

        <div class="w-full md:w-2/5 h-[450px] md:h-full">
            <Image
                    src={fotoNosotros2}
                    alt="Tomada de manos"
                    class="w-full h-full object-cover object-[50%_65%]"
            />
        </div>

    </section>

</div>

<script define:vars={{ fechaBoda }}>
    const groups = {
        days: document.querySelectorAll('#container-days .digit'),
        hours: document.querySelectorAll('#container-hours .digit'),
        minutes: document.querySelectorAll('#container-minutes .digit'),
        seconds: document.querySelectorAll('#container-seconds .digit')
    };

    const targetDate = new Date(fechaBoda).getTime();

    let isFirstLoad = true;
    let hasInitialized = false;

    function updateCountdown() {
        const now = new Date().getTime();
        const distance = targetDate - now;

        if (distance < 0) return;

        const timeStrings = {
            days: Math.floor(distance / (1000 * 60 * 60 * 24)).toString().padStart(3, '0'),
            hours: Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)).toString().padStart(2, '0'),
            minutes: Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)).toString().padStart(2, '0'),
            seconds: Math.floor((distance % (1000 * 60)) / 1000).toString().padStart(2, '0')
        };

        for (const unit in timeStrings) {
            const digitsArray = timeStrings[unit].split('');

            digitsArray.forEach((char, index) => {
                const el = groups[unit][index];

                const shouldAnimate = isFirstLoad || el.innerText !== char;

                if (!shouldAnimate) return;

                if (isFirstLoad) {
                    if (!el.dataset.init) {
                        el.innerText = char;

                        el.classList.remove('odometer-init');
                        void el.offsetWidth; // reset animation

                        el.classList.add('odometer-init');

                        el.dataset.init = "true";
                    }

                } else {
                    el.classList.remove('slide-up');
                    void el.offsetWidth;
                    el.classList.add('slide-up');

                    setTimeout(() => {
                        el.innerText = char;
                    }, 250);
                }
            });
        }

        if (!hasInitialized) {
            hasInitialized = true;

            setTimeout(() => {
                isFirstLoad = false;
            }, 1600);
        }
    }

    updateCountdown();
    setInterval(updateCountdown, 1000);
</script>

<style>
    .number-wrapper {
        height: 2.5em;
        width: 1.5em;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 768px) {
        .number-wrapper {
            height: 5em;
            width: 3em;
        }
    }

    .digit {
        display: inline-block;
        line-height: 1;
        will-change: transform, opacity;
    }

    .odometer-init {
        animation: odometer 1.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    }

    .slide-up {
        animation: slideUp 0.5s ease-in-out;
    }

    @keyframes odometer {
        0% { transform: translateY(120%); opacity: 0; }
        100% { transform: translateY(0); opacity: 1; }
    }

    @keyframes slideUp {
        0% { transform: translateY(0); opacity: 1; }
        45% { transform: translateY(-120%); opacity: 0; }
        55% { transform: translateY(120%); opacity: 0; }
        100% { transform: translateY(0); opacity: 1; }
    }
</style>